ul {
    list-style: none;
}

/* 
header
*/

html, body {
  width: 100%;
}


.header-inner {
  margin: 0 auto;
  width: 100%;
  max-width:960px;
  padding: 0 4%;
  display:flex;
  /* position: fixed;
  top:0;
  left: 50%;
  transform: translateX(-50%); */
  justify-content: space-between;
  align-items: center;
  background: white;
  /* background: yellow; */
}

h1 {
  background: green;
  width:200px;
  padding: 10px;
  text-align:center;
  color:white;
}

nav ul {
  display: flex;
}

nav ul li {
  font-size: 18px;
  margin-left: 24px;
}

a {
  text-decoration: none;
  color:black;
  opacity: 1;
}

a:hover {
  opacity:.7;
  color: green;
}

/* 
main-visual
*/

.main-visual {
  /* margin-top:110px; */
  width: 100%;
  max-width: 1920px;
  height: 600px;
  object-fit: cover;
}

.wrapper {
  margin: 0 auto 100px auto;
  max-width:960px;
  padding: 110px 4% 10px 4%;
  align-items: center;
  /* background:silver; */
}

h2 {
  /* background: gray; */
  text-align: center;
  font-size: 32px;
}

.bicycle-container h3 {
  /* background: gray; */
  text-align: center;
  font-size: 24px;
}

.under-line {
  border-bottom: solid 2px gray;
}

img {
  display: block;
  margin: 0 auto;
}

#about img {
  border-radius: 50%;
  width:240px;
  height:240px;
}


.bicycle {
  /* background: pink; */
  text-align: center;
}


.bicylcleImg {
  width: 100%;
}

.toTop {
  position:fixed;
  bottom: 10px;
  right: 10px;
  border: 3px solid green;
  border-radius: 5px;
}

 .toTop:hover {
   opacity: .7;
  }
  
  /* 
  footer
  */

  footer {
   text-align: center;
  }
  
  /* 
  PC版表示
 */
 @media (min-width: 600px) {
   .header-inner {
     position: fixed;
     top:0;
     left: 50%;
     transform: translateX(-50%);
    }

    .main-visual {
      margin-top:110px;
    }
    
    .wrapper {
      margin: 0 auto 100px auto;
      max-width:960px;
      padding: 110px 4% 10px 4%;
      align-items: center;
      /* background:silver; */
    }

  .contents-inner {
    display: flex;
    justify-content: space-between;
  }
  
  .bicycle-container {
    width: 30%;
    /* border: solid 1px; */
  }
  
  .toTop {
    display: none;
  }
}

